body {
	background-color: #bcf1e9;
}
#head {
	font-size:60px;
	font-family: cursive;
	font-weight: 900;
	color:#6f6ff3;
}
.global {
	margin:0;
	padding:0;
}
html {
	text-align: center;
}
#global {
	width:612px;
	height:459px;
	display:inline-block;
}
#list {
	width:240px;
	height:337px;
	margin: 70px 0px 0px 84px;
	float:left;
	overflow-y: auto;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#list::-webkit-scrollbar{
    width:5px;
}
#list::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    background-color: #7f4dd0;
    border-radius: 3px;
}
#input {
	margin: 60px 0px 0px 20px;
	border: 3px solid #73c9c8;
}
#but {
	border: 3px solid #73c9c8;
	background-color: white;
}
.ns {
	display:flex;
	padding-left: 8px;
	text-align: left;
	justify-content: space-between;
}
.ibx, .ibv {
	justify-content: right;
	border:1px solid #5db5e8;
	background-color: #a3d3ef;
	border-radius: 5px;
}
.blue {
	background-color:#5db5e8;
	color:white;
}
.red {
	background-color:#baf2e7;
	color:black;
}
.ibx {
	background-color: #f56f6f;
}
